@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./resources/gradient-bg.jpg) no-repeat center/cover;
}


.container{
  max-width: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212936;
  padding: 15px 15px;
  border-radius: 16px;
  gap: 12px;
}
.img-con{
  width: 100%;
}

.img_cover{
  width: 100%;
  height: min-content;
  object-fit: cover;
  border-radius: 16px;
}

.title-con{
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.artist_name{
  color: #4D5562;
  font-size: 14px;
}


 
.controllers{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
  padding: 20px;
  gap: 28px;
}

.controllers img{
  width: 40px;
  cursor: pointer;
}

.play_pause_con{
  width: 80px;
  height: 80px;
  background-color:#C93B76;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  filter: drop-shadow(0px 8px 20px rgba(201, 59, 118, 0.25));
  transition: box-shadow 0.4s ease-in-out;
}

.play_btn {
  width: 100%;
  height: 100%; /* Match the parent container's height */
  object-fit: cover;
}


.pause_btn{
  width: 10%;
  display: none;
}
.pause_btn.active{
  display: block;
}

.play_btn.nonactive{
  display: none;
}

.play_pause_con:hover{
  box-shadow: 0px 0px 77px 3px rgba(201,59,118,1);
}



.music_progress{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.time_display{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #4D5562;
  font-size: 14px;
}



.music_progress .music_progress_container {
  width: 100%;
  height: .3125rem;
  background-color: hsl(220, 13%, 91%);
  border-radius: 100vmax;
  margin-block-start: min(.25rem, .5vh);
  cursor: pointer;
}

.music_progress .music_progress_containe .music__progress {
  height: 100%;
  background-color: #C93B76;
  border-radius: 100vmax;
  transition: width .12sease-in-out;
  cursor: pointer;
}

